body {
  background: #ccc;
}

main {
  width: 800px;
  margin: 10px auto;
  > div + div {
    margin-top: 10px;
  }
}

.box1 {
  background: #fff;
  height: 200px;
}

.box2 {
  display: flex;
  justify-content: space-between;
  div {
    width: calc((100% - 20px) / 3);
    height: 100px;
    background: #f00;
  }
}

.box3 {
  display: flex;
  justify-content: space-between;
  div {
    width: calc((100% - 40px) / 5);
    height: 100px;
    background: #fff;
  }
}

.box4 {
  background: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  div {
    width: calc((100% - 10px) / 2);
    height: 100px;
    background: #f00;
  }
}